.sidebar {
  width: 280px;
  height: 100vh;
  background: #111827;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #0952c7;
  text-align: center;
  padding: 30px 0;
}

.profile {
  text-align: center;
  padding: 20px;
}

.avatar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 4px solid #082f83;
}

.profile h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.profile p {
  color: #cbd5e1;
  margin-bottom: 10px;
}

.online {
  color: #22c55e;
  font-size: 14px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 16px 28px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: .3s;
  font-size: 16px;
}

.menu a:hover {
  background: #0c3eaa;
}

.menu :global(a.active) {
  background: #043397;
  border-left: 5px solid white;
}